/*-----------------BASE----------------*/

*{padding: 0; margin:0; box-sizing: border-box}
html{
  background-color: #f5f7fb;
}
#root{
  margin-top: 50px;
}
.container {
  width: 80%;
  height: auto;
  margin: auto;
}
.col-12 {
  width: 100%;
  display: flex;
  justify-content: space-between
}
.col-12:last-child{
  display: block;
}
.col-6 {
  width: 45%;
  border-radius: 15px;
}
.col-6:nth-child(1){
  margin-right: 10%;
}
.btn{
  border: 1px solid lightgreen;
  background-color: #309830;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}
.btn:hover {
  background-color: green;
}
body{
  font-family: 'Roboto Mono', monospace;
}
h1 {
  color:  #fff;
}

/*-----------------Color picker----------------*/
.main{
  border: 1px solid lightblue;
}
.main h1 {
  background: royalblue;
  padding-left: 20px;
}
.square {
  width: 50px;
  height: 50px;
  display: inline-block;
  margin-top: 30px;
  margin-left: 30px;
  border-radius: 5px;
  transition: 0.3s;
}
.square:hover{
  transform: scale(1.2)
}
/*-----------------Setting Size----------------*/
.setting-size .input-box  h1.current-size{
  border-top-right-radius: 10px ;
  border-top-left-radius: 10px ;
  background-color: lightpink;
}
.setting-size .input-box {
  border: 1px solid lightcoral;
  border-radius: 10px;
}
.setting-size .input-box .setting-btn input{
  margin: 20px 10px;
}
.out-box input.btn{
  display: inline-block;
  width: 100%;
  margin-left: 0;
  margin-top: 15px;
}

/*-----------------Show----------------*/
.show input{
  border:  1px solid;
  margin:  20px 1px;
  padding:  10px 10px;
  width: 100%;
}

.show .info{
  text-align: center;
  font-size: 20px;
  color: #ffff;
  margin-top: 40px;
  padding: 10px 5px;
  background-color: #2FEA8D;
}